<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szbit.mapper.UsersMapper">
    <resultMap id="u" type="Users" autoMapping="true">
        <id property="uid" column="uid" ></id>
        <collection property="roles" ofType="Role" autoMapping="true">
            <id property="rid" column="rid"></id>
            <collection property="permisions" ofType="Permision" autoMapping="true">
                <id property="pid" column="pid"></id>
            </collection>
        </collection>
    </resultMap>
    <select id="login" parameterType="Users" resultMap="u" >
       select u.*,r.*,p.* from users u, role r, users_role ur,permision p,role_permision rp
                where u.uid = ur.uid and r.rid = ur.rid and p.pid = rp.pid and r.rid = rp.rid
                  and u.uname = #{uname} and u.pwd = #{pwd}
    </select>
    <update id="updateTime" parameterType="Users" >
        update users set lasttime = #{lasttime}  where uid = #{uid};
    </update>
</mapper>